 


<div style="display: flex; flex-direction:column; justify-content:center; align-items:center">
<h3 style="color:blue"> Albums for: {{albums.0.artists.0.name}}  </h3>
{{#each albums }}

<div>{{this.name}}</div>

 
<img style="width: 100px; height= 100px" src="{{this.images.0.url}}" alt="" > 
 
 
 
{{/each}}
</div>