<div>
    <h1>Search your favourite artists</h1>
    <form action="/artist-search" method='GET'>
    <input type="text" name="artist" id="id">
    <button type="submit" value="Submit">Search for an Artist!</button>
   
    </form>
</div>